faiss==1.5.3
joblib==1.5.3
langchain_core==1.6.0
langgraph==1.2.11
numpy==2.5.2
pandas==3.0.5
Pillow==12.3.0
scikit_learn==1.9.0
sentence_transformers==5.5.1
tensorflow==2.21.0
torch==2.11.0
torchvision==0.26.0
seaborn==0.13.2
